.register {
    display: flex;
    flex-direction: column;
    padding: 70px 0 0 0;
    background-color: #202020;
    overflow: hidden;
}

.register__container {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 0 auto;
}

.register__welcome {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin: 0;
    padding: 37px 0 40px 0;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-bottom: 122px;
}

.register__field:last-of-type {
    gap: 0;
}

.register__text {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
    margin: 0;
}


.register__input {
    background: #202020;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid #424242;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #ffffff;
    height: 30px;
    -webkit-text-fill-color: #ffffff;
    box-shadow: inset 20px 20px 0px 20px #202020; 
}


.register__input {
    outline: none;
}

.register__input_password {
    color: #ee3465;
}

.register__button {
    background-color: #4285f4;
    border: none;
    border-radius: 3px;
    width: 100%;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;

    margin: 0;
    margin-bottom: 16px;
    padding: 13px 0 15px 0;

    cursor: pointer;
}

.register__button:hover {
    transition: 0.3s linear;
    opacity: 0.8;
}

.register__link {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8b8b8b;
}

.register__login {
    margin: 0 0 0 6px;
    color: #4285f4;
}

.register__login:hover {
    opacity: 0.8;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .register {
        padding: 232px 0 232px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .register {
        padding: 56px 0 30px 0;
    }

    .register__container {
        width: 260px;
    }

    .register__header {
        display: flex;
        align-self: center;
    }

    .register__welcome {
        padding: 47px 0 80px 0;
        text-align: center;
    }

    .register__field {
        padding-bottom: 210px;
    }

    .register__button {
        font-size: 12px;
        line-height: 15px;
        padding: 15px 0 15px 0;
    }

    .register__link {
        font-size: 14px;
        line-height: 17px;
    }
}
